.products {
    background-color: $bgColor;
    padding: 4rem 0;
    position: relative;

    &::after,
    &::before {
        content: "";
        position: absolute;
        right: 50%;
        top: -2%;
        background-image: url("./assets/img/products/flower.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        width: 2rem;
        height: 3rem;
    }

    &::before {
        top: auto;
        bottom: -2%;
        transform: rotate(180deg);
    }

    .sec-head {
        position: relative;
        padding-bottom: 3rem;
        margin-bottom: 1.5rem;

        @media only screen and (max-width:767px) {
            padding-bottom: 1rem;

            .box {
                margin-right: 1.3rem !important;

                li {
                    margin-left: 1.3rem !important;
                    padding-left: 1.3rem !important;

                    .link {
                        font-size: .8rem;
                    }

                    &::after {
                        height: 14px !important;
                    }
                }
            }
        }


        &::after {
            content: "";
            position: absolute;
            width: 45rem;
            height: 1px;
            background-color: rgba(0, 0, 0, 0.157);
            bottom: 0;
            right: 50%;
            transform: translateX(50%);

            @media only screen and (max-width:767px) {
                all: unset;
            }

        }

        .title {
            margin-bottom: 1rem;
        }

        .box {
            display: flex;
            justify-content: center;
            margin-right: 2.2rem;

            li {
                // border-left: 2px solid $descColor;
                font-size: 0.9rem;
                position: relative;
                margin-left: 2.2rem;
                padding-left: 2.2rem;

                &::after {
                    content: "";
                    position: absolute;
                    width: 2px;
                    height: 17px;
                    bottom: 50%;
                    transform: translateY(50%);
                    left: 0;
                    background-color: $descColor;
                }

                &:nth-child(3) {
                    &::after {
                        all: unset;
                    }
                }

                .link {
                    color: $descColor;
                    transition: $transition;

                    &:hover {
                        color: $ThirdColor;
                    }
                }

            }
        }
    }

    .item {
        position: relative;
        text-align: center;
        background-color: #fff;
        border-radius: 15px;
        padding-top: 2.5rem;
        padding-bottom: 0.8rem;
        box-shadow: 0px 6px 8px 2px #d4d4d469;
        margin-bottom: 2rem;

        &::after {
            content: "";
            background-image: url("./assets/img/products/afterbg.svg");
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            position: absolute;
            top: 0;
            width: 6rem;
            height: 1.5rem;
            right: 50%;
            transform: translateX(50%);
        }

        &:hover {
            .icon.icon-icon-hover {
                top: -5px;
                opacity: 1;
            }

            .product-image {
                transform: scale(0.9);
            }

            .icon-hover-bottom {
                width: 2.9rem;
            }

            figcaption {
                transform: translateY(-19px);
            }
        }

        figure {
            .product-image {
                transition: all 0.5s;
                width: 12.5rem;
                @media only screen and (max-width:1199px){
                    width: 10.5rem;
                }
            }

            figcaption {
                transition: all 0.5s;

                .title {
                    font-size: 1.2rem;
                    margin-bottom: .5rem;
                    font-weight: 200;
                }

                .bottom {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding: 0 1rem;

                    .price {
                        .number {
                            color: $Seventh;

                            span {
                                color: $priceColor;
                                font-size: 0.8rem;
                            }
                        }
                    }

                    .colors {
                        display: flex;

                        span {
                            width: 10px;
                            height: 10px;
                            border-radius: 50%;
                            margin-left: 0.3rem;
                        }
                    }
                }
            }
        }

        .icon.icon-icon-hover {
            font-size: 1.3rem;
            position: absolute;
            top: -25px;
            z-index: 30;
            right: 50%;
            transform: translateX(50%);
            opacity: 0;
            transition: all 0.9s;
            color: $secendColor;
        }

        .icon-hover-bottom {
            position: absolute;
            right: 50%;
            transform: translateX(50%);
            bottom: 0;
            width: 0;
            transition: all 0.5s;
        }
    }

    .product-mobile {
        overflow-x: scroll;
        white-space: nowrap;
        width: 100%;
        z-index: 20;
        &::-webkit-scrollbar{
            display: none;
        }

        .item {
            width: 250px;
            flex-shrink: 0;
            transform: scale(0.9);
        }
    }
}