.show-post {
    margin-top: 12rem;

    @media only screen and (max-width:767px) {
        margin: 7rem 0;
    }

    .box {
        background-color: $bgColor;
        border-radius: 0 0 17px 17px;

        .head {
            position: relative;

            &::before {
                content: "";
                background: linear-gradient(to bottom, #2d43830f, $firstColor);
                height: 235px;
                position: absolute;
                bottom: 0;
                z-index: 1;
                left: 0;
                right: 0;

                @media only screen and (max-width:767px) {
                    height: 165px;
                }
            }

            .image {
                background-image: url('./assets/img/show-post/1.jpg');
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                width: 100%;
                height: 27rem;
                border-radius: 17px;

                @media only screen and (max-width:767px) {
                    height: 18rem;
                }
            }

            .title {
                position: absolute;
                bottom: 1.5rem;
                z-index: 10;
                color: #fff;
                right: 1.5rem;
                @media only screen and (max-width:767px){
                        font-size: 1.3rem;
                }
            }
        }

        .content {
            padding: 2rem 1.5rem;
            border: 1px solid #efefef;
            border-radius: 0 0 17px 17px;

            .desc-style {
                line-height: 2.8;

                .link {
                    color: $firstColor;
                }
            }

            .image {
                width: 100%;
                border-radius: 17px;
                margin: 2rem 0;
            }

            .box {
                margin-bottom: 1.5rem;
                text-align: right;

                li {
                    list-style: auto;
                    list-style-position: inside;
                    margin-bottom: 0.7rem;
                    line-height: 2;
                }
            }

            ol.box {
                li {
                    list-style: disc !important;
                    list-style-position: inside !important;
                }
            }
        }
    }
}