$firstColor:#2D4383;
$secendColor:#E0BD77;
$ThirdColor:#ff9100dc;
$fourthColor:#F0F0F1;
$fifthColor:#A1A3A8;
$descColor:#A3A3A3;
$bgColor:#F8F8F8;
$priceColor:#16A500;
$sixthColor:#00175A;
$Seventh:#707070;
$iconColor:#767676;
$EighthColor:#909090;
$ninthColor:#BABABA;
$tenthColor:#424750;
$borderColor:#eeeeee;
//////transitions
$transition:all .4s;